/* Colours */
/* Import Styles */
.navigation {
  width: 100vw;
  height: 10vh;
  background: #2A3D45;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center; }
  .navigation .logoContainer {
    padding: 10px; }
    .navigation .logoContainer .logo {
      height: 80%;
      width: auto; }
  .navigation .navContainer {
    width: 15%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center; }
    .navigation .navContainer .navActive {
      border-bottom: 3px solid #3F8661;
      margin-top: 3px; }

#splash {
  height: 90vh;
  background: #3F8661;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center; }

.intro {
  height: 75vh; }
  .intro .introInfo {
    height: 65%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center; }
  .intro .introUpdated {
    height: 35%;
    background: #949ea2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center; }

/* Fonts */
h1, h2, h3, h4 {
  /*font-family: */
  margin-top: 0; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 0; }

a {
  text-decoration: none; }
